@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

:root {
	--global--color-primary:#4B0082;
    --global--color-white:#fdfdffff;
    --accent: #9c23ff;
	--accent-dark: #53008a;
    --box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px
		rgba(var(--gray), 33%);
}


html {
  font-family: sans-serif;
  background: linear-gradient(75deg, #d4b3ff, #b3e0ff);
  background-size: 100% 600px;
}

body {
  margin: 0;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
	overflow-wrap: break-word;
  position: center;
}

main{
  position: center;
  width: 720px;
	max-width: calc(100% - 2em);
	margin: 2em;
	padding: 1em 3em;
	background-color: var(--global--color-white);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
nav {
  font-family: 'Alice';
}

.category-tag {
  font-family: 'Alice';
  display: inline-block;
  background-color: #e0d7ff; /* Light purple */
  color: #4B0082; /* Indigo or your theme color */
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 0.3em 0.3em 0;
  padding: 0.2em 0.6em;
  border-radius: 4px;
}