---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Over mij"
  description="Over mij"
  pubDate={new Date("October 15 2025")}
  heroImage={AboutHeroImage}
>
  <main></main>
  <p>Hoi! Ik ben Christel, ook wel bekent als Boekenwuurm.</p>

  <p>
    Van huis uit ben ik ben natuurkundige, hacker, fan van paars, lees ik veel
    boeken, houd van musicals, camera’s en printers.
  </p>

  <p>
    Vaak ben ik te vinden bij Hackalot, wat ik mede opgericht heb in 2017. Ik
    heb verder in projectleiding van WHY2025 en MCH2022 gezeten, en was bij
    team:Infodesk bij SHA2017.
  </p>

  <p>
    In het dagelijks leven doe ik dingen met camera’s en probeer ik kleur zo
    goed mogenlijk weer te kunnen geven.
  </p>

  <p>
    Ik houd er van de wereld mooier, beter en veiliger te maken. Mooie dingen
    maken is een belangrijk ding, net als samen dingen bouwen.
  </p>
</Layout>
